.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  color: white;
}

.navbar h1 {
  margin: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-user {
  display: inline-block; /* Ensure the content is on the same line */
  margin-right: 2rem; /* Adjust margin for spacing */
  margin-left: 1rem; /* Adjust margin for spacing */
  font-size: 1rem; /* Optional: adjust font size */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.dropdown {
  position: relative;
  right: 12px;
}

.dropdown-toggle {
  background-color: #444;
  color: white;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 75px;
}

.dropdown-menu li {
  padding: 0.5rem;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #333;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.profileImage {
  width: 100%; /* Adjust the width of the container if needed */
  height: 50%; /* Adjust the height of the container */
  display: flex; /* Flexbox to center the content */
  justify-content: center; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */
  cursor: pointer; /* Makes the image clickable */
}

.profileImage img {
  width: 50px; /* Adjust the width of the image */
  height: 50px; /* Adjust the height of the image */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  /* border-radius: 50%;  */
}

.profileImage i {
  font-size: 50px; /* Adjust the icon size */
}

.profileImage:hover {
  opacity: 0.8; /* Slightly darkens the image on hover */
}
